[submodule "addons/skin.re-touched"]
	path = addons/skin.re-touched
	url = git://github.com/xbmc/skin.re-touched.git
[submodule "addons/script.xbmc.debug.log"]
	path = addons/script.xbmc.debug.log
	url = git://github.com/koying/script.xbmc.debug.log.git
