<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
        <setting id="message" type="bool" label="for messages" default="false" visible="false"/>
        <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
   	</category>	   	
  </settings>